<%- include('../../../../partials/head') %>
<%- include('../../../../partials/header') %>
<main class="section is-flex-grow-1">
  <div class="container"></div>
</main>

<script src="/public/js/hideHeroFoot.js"></script>
<script>
  setTimeout(() => hideHeroFoot(), 100);
</script>
<%- include('../../../../partials/footer') %>
